@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

.quadrado {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
    background-color: lightgray;
}

#q1 {
    background-color: blue;
}

#q2 {
    background-image: linear-gradient(to bottom, yellow, rgb(255, 102, 0));
}

#q3 {
    background-image: url(media/pattern003.png);
}