@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;

}

#menu {
    text-align: end;
}

#menu img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.425);
    box-sizing: border-box;
    transition: 0.4s;
}

img:hover {
    transform: scale(1.1);
    border: 1.5px solid white;
    transition: transform 0.2s, border 0.01s;
}

#tela {
    position: relative;
    top: 81px;
    left: 23px;
    width: 265px;
    height: 469px;
}