@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}

*{
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 10vh;
    background-color: darkgray;
    font-family: var(--font1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;

}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}

.normal {
    background-color: white;
    color: black;
}

.image {
    background-color: red;
    color: white;
}

.image > p {
    background-color: rgba(0, 0, 0, 0.363);
    display: inline-block;
    padding: 5px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}