@charset "utf-8";

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-size: 100%;
    background-image: url(media/img1.jpg);
    color: white;
    font-size: 20pt;

}

.bloco1 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 10pt;
}

.bloco2 {
    padding: 10pt;
    line-height: 40pt;
}

.bloco3 {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.55);
    padding: 10pt;
}

