@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --am: #003366;
    --ac: #1398BE;
    --l: #DE9800;
    --c: #CCCCCC;
    --v: #C91B04;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    border: 1px solid #DDDDDD;
    border-collapse: collapse;
    width: 600px;
    margin-top: 20px;
}

caption {
    margin: auto;
    border: 1px solid #DDDDDD;
    border-top: none;
    border-collapse: collapse;
    width: 600px;
}

td {
    color: #666666;
}

td, th {
    padding: 5px;
    text-align: center;
}

tr {
    border: 1px solid #DDDDDD;
}

tbody > tr {
    background-color: #F7F7F7;
}

tbody > tr > td:nth-child(2n) {
    background-color: white;
}

.titulos {
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    text-align: center;
}

.times {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: start;
    width: 200px;
}

.c-ponto {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
}

.a-escuro {
    color: var(--am);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.a-claro {
    color: var(--ac);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.laranja {
    color: var(--l);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.cinza {
    color: var(--c);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.verm {
    color: var(--v);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background-color: white;
}

.b-top {
    border-top: 2px solid #DDDDDD;
}

#siglas {
    font-size: 10px;
    color: #555555;
    font-weight: bold;
    text-align: start;
    padding: 10px;
}

#significados {
    font-size:10px;
    color: #555555;
    font-weight: normal;
    text-align: start;
    padding: 0px 10px 10px 10px;
}