@charset "utf-8";

div {
    border: 2px double black;
    padding: 20px;
    margin: auto;
}

div {
    background-color: #7b42f5;
}

@media (min-width: 1100px) and (max-width: 1200px) {
    div {
        background-color: pink;
    }
} 

@media (min-width: 800px) and (max-width: 1099px) {
    div {
        background-color: blue;
        color: white;
    }
} 

@media (min-width: 600px) and (max-width: 799px) {
    div {
        background-color: green;
    }
} 

@media (min-width: 400px) and (max-width: 599px) and (orientation: portrait){
    div {
        background-color: red;
    }
} 

@media (min-width: 400px) and (max-width: 599px) and (orientation: landscape){
    div {
        background-color: yellow;
    }
} 

@media (min-width: 1100px) and (max-width: 1200px) {
    div {
        background-color: black;
        color:white;
    }
} 

