@charset "utf-8";

:root {

    --ce: #b0b0b0;
    --cc: #eeeeee;

    --font: Arial, Verdana, sans-serif;
}

* {

    margin: 0;
    padding: 0;
    font-family: var(--font);

}

header {

    background-color: var(--ce);
    padding: 20px;
    font-size: 12px;

}

nav {

    background-color: var(--cc);
    padding: 30px;

}

nav > ul {

    list-style-type: none;

}

h1, h2 {

    padding: 20px 20px 20px 0;
    font-weight: normal;

}

h3 {

    font-size: 1em;
    margin-bottom: 20px;
    font-weight: normal;

}


main > .b2 {
    
    line-height: 1.8em;

}

.container {

    display: flex;

}

.b1 {

    width: 1500px;
    height: max-content;
    line-height: 1.5em;

}

.b2 {

    margin: 20px;

}

.b3 {

    background-color: var(--cc);
    width: 2000px;
    height: max-content;
    padding: 30px;
    line-height: 1.2em;

}

.b3 > p {

    font-size: 0.86em;

}

