@charset "utf-8";

:root {

    --ce: #b0b0b0;
    --cc: #eeeeee;

    --font: Arial, Verdana, sans-serif;
}

* {

    margin: 0;
    padding: 0;
    font-family: var(--font);

}

header {

    background-color: var(--ce);
    padding: 20px;
    font-size: 12px;
    width: 100vw;

}

nav {

    background-color: var(--cc);
    padding: 30px;

}

nav > ul {

    list-style-type: none;

}

h1 {
    padding: 20px;
    font-weight: normal;
    font-size: 2.5em;
}

h2 {

    padding: 30px 20px 30px 0;
    font-weight: normal;
    font-size: 2em;

}

h3 {

    font-size: 1em;
    margin-bottom: 20px;
    font-weight: normal;

}


main > .b2 {
    
    line-height: 1.8em;

}

.container {

    display: flex;

}

.b1 {

    width: 100vw;
    height: max-content;
    line-height: 1.5em;

}

.b2 {

    margin: 20px;

}

.b3 {

    background-color: var(--cc);
    width: 100vw;
    height: max-content;
    padding: 30px;
    line-height: 1.2em;

}

.b3 > p {

    font-size: 0.86em;

}

@media (max-width: 700px) {
    .container {
        display: block;
    }
    .b1 {
        width: 100vw;
        padding: 20px 0px 20px 20px;
    }
    .b3 {
        width: 100vw;
    }
    header {
        width: 100vw;
    }
}

